<div class="container">
    <div class="matchup">
        <div>
            <span *ngIf="vm.player1_seed">({{ vm.player1_seed }})</span> {{ vm.player1 }}
			vs
			<span *ngIf="vm.player2_seed">({{ vm.player2_seed }})</span> {{ vm.player2 }}
        </div>
    </div>
	<div class="matchType">
        <div>
		{{ vm.matchType }}
		</div>
    </div>
	<div class="commentary1">
        <div>
            Spikevegeta
        </div>
    </div>
	<div class="commentary2">
        <div>
            JHobz296
        </div>
    </div>
    <div>
        <div class="logo">
            <div>
                <img src="../assets/SRUlogo.png"/>
            </div>
        </div>
    </div>
</div>
