<div class="container" [ngStyle]="{'background-image': 'url(../../assets/' + vm.background + '/' + vm.background + 'bgstream.png)'}">
    <div class="topbar">
    	<div class="name-cycle p1">
        	<div class="name-twitch text">
            	<img src="../../assets/twitch-icon.png" />
            	{{ vm.player1_twitch }}
        	</div>
        	<div class="name-signup text">
            	{{ vm.player1 }} <span *ngIf="vm.player1_seed">({{ vm.player1_seed }})</span>
        	</div>
    	</div>
    	<div class="timers">
	        <div class="timer-finish p1 text">
	            {{ vm.player1_finishTime }}
	        </div>
            <span *ngIf="!vm.player1_timerVisible" class="text timer-main">{{ ticks }}</span>
	        <div class="timer-finish p2 text">
	            {{ vm.player2_finishTime }}
	        </div>
    	</div>
	    <div class="name-cycle p2">
	        <div class="name-twitch text">
	            <img src="../../assets/twitch-icon.png" />
	            {{ vm.player2_twitch }}
	        </div>
	        <div class="name-signup text">
                {{ vm.player2 }} <span *ngIf="vm.player2_seed">({{ vm.player2_seed }})</span>
	        </div>
	    </div>
	</div>

    <div class="stream-placeholder">
    </div>
    <div class="stream-placeholder">
    </div>
	
	<!--
	<div class="match-numbers">
		{{ vm.player1_matchNumber }} Testing Match Numbers {{ vm.player2_matchNumber }}
	</div>
	-->
	
    <div class="matchinfo">
        <!-- <div class="tracker p1">
            <img [ngClass]="{ 'on' : p1First }" style="--r: 65.52px" src="../../assets/1stplace70percent.png">
            <img [ngClass]="{ 'on' : p2First }" style="--r: 62px" src="../../assets/2ndplace70percent.png">
        </div> -->
        <div [ngClass]="{ 'info': true, 'sd': sd }">
            <div>{{ vm.matchType }}</div>
            <img src="../../assets/commentary.png" />
			<div>{{ vm.commentators }}</div>
        </div>
        <!-- <div class="tracker p2">
            <img [ngClass]="{ 'on' : p2First }" style="--r: 65.52px" src="../../assets/1stplace70percent.png">
            <img [ngClass]="{ 'on' : p1First }" style="--r: 62px" src="../../assets/2ndplace70percent.png">
        </div> -->
    </div>
 </div>
