<div class="controls">
	<div class="container">
		<div class="col-8 center label-big r1 c1">GENERAL INFO</div>
		<div class="label r2 c1">
			<label for="trackerId">Broadcast ID</label><br>
			<label for="matchType">Match Type</label><br>
			<label for="commentators">Commentators</label>
		</div>
		<div class="col-3 r2 c2">
			<input type="text" id="trackerId" [(ngModel)]="seed" [disabled]="isLinked" placeholder="Same as Skill Tracker"><br>
			<input type="text" id="matchType" [(ngModel)]="matchType" placeholder="Group/Bracket Stage - Group Name">
			<input type="text" id="commentators" [(ngModel)]="commentators" placeholder="ENTER COMMENTATORS">
		</div>
		<input type="button" class="btn col-1 update r2 c5" (click)="updateInfo()" value="UPDATE STREAM INFO"
		/>
		<input type="button" [ngClass]="{ 'active-background': isLinked == true, 'btn-update col-1 update r2 c6' : true }"
		     (click)="linkTracker()" value="LINK SKILL TRACKER (every 1000ms)" [disabled]="isLinked" />
		<input type="button" class="btn col-2 r2 c7" (click)="unlink()" value="UNLINK" [disabled]="!isLinked"
		/>
		<div class="backgrounds col-8 center r3 c1">
			<!--
			<div>
				<img [ngClass]="{ 'active-background': vm.background == 'celeste' }" (click)="setBackground('celeste')"
				     src="../../assets/celeste/celestebgstream.png" style="max-height:50px;">
				<br>
				<b>Celeste</b> <br>
				<h6>TGH_sr<br>yp__</h6>
			</div>
			<div>
				<img [ngClass]="{ 'active-background': vm.background == 'smo' }" (click)="setBackground('smo')"
				     src="../../assets/smo/smobgstream.png" style="max-height:50px;">
				<br>
				<b>Odyssey</b> <br>
				<h6>kerbis54<br>Timpani</h6>
			</div>
			<div>
				<img [ngClass]="{ 'active-background': vm.background == 'ori' }" (click)="setBackground('ori')" src="../../assets/ori/oribgstream.png"
				     style="max-height:50px;">
				<br>
				<b>Ori</b> <br>
				<h6>ogNdrahciR<br>SmashyLe</h6>
			</div>
			<div>
				<img [ngClass]="{ 'active-background': vm.background == 'plague' }" (click)="setBackground('plague')"
				     src="../../assets/plague/plaguebgstream.png" style="max-height:50px;">
				<br>
				<b>Plague Knight</b> <br>
				<h6>MooMooAkai<br>MunchaKoopas</h6>
			</div>
			<div>
				<img [ngClass]="{ 'active-background': vm.background == 'trop' }" (click)="setBackground('trop')" src="../../assets/trop/tropbgstream.png"
				     style="max-height:50px;">
				<br>
				<b>The Trop</b> <br>
				<h6>NotSoNewby<br>Ghoul02</h6>
			</div>
			<div>
				<img [ngClass]="{ 'active-background': vm.background == 'kh1' }" (click)="setBackground('kh1')" src="../../assets/kh1/kh1bgstream.png"
				     style="max-height:50px;">
				<br>
				<b>KHFMHD</b> <br>
				<h6>Zetris<br>RebelWatt</h6>
			</div>
			<div>
				<img [ngClass]="{ 'active-background': vm.background == 'kh2' }" (click)="setBackground('kh2')" src="../../assets/kh2/kh2bgstream.png"
				     style="max-height:50px;">
				<br>
				<b>KH2FMHD</b> <br>
				<h6>TehRizzle<br>Bl00dyBizkitz</h6>
			</div>
			<div>
				<img [ngClass]="{ 'active-background': vm.background == 'crashnst' }" (click)="setBackground('crashnst')"
				     src="../../assets/crashnst/crashnstbgstream.png" style="max-height:50px;">
				<br>
				<b>Crash NST</b> <br>
				<h6>CameronVengenz<br>Roach788</h6>
			</div>
			<div>
				<img [ngClass]="{ 'active-background': vm.background == 'alttp' }" (click)="setBackground('alttp')" src="../../assets/alttp/alttpbgstream.png"
				     style="max-height:50px;">
				<br>
				<b>ALTTP Rando</b> <br>
				<h6>Andy<br>ChristosOwen</h6>
			</div>
			<div>
				<img [ngClass]="{ 'active-background': vm.background == 'sonicg' }" (click)="setBackground('sonicg')" src="../../assets/sonicg/sonicgbgstream.png"
				     style="max-height:50px;">
				<br>
				<b>Sonic Generations</b> <br>
				<h6>Frokenok<br>TheBlueMania</h6>
			</div>
			<div>
				<img [ngClass]="{ 'active-background': vm.background == 'smg' }" (click)="setBackground('smg')" src="../../assets/smg/smgbgstream.png"
				     style="max-height:50px;">
				<br>
				<b>Super Mario Galaxy</b> <br>
				<h6>Terra21<br>TheRooseIsLoose89</h6>
			</div>
			<div>
				<img [ngClass]="{ 'active-background': vm.background == 'ori' }" (click)="setBackground('ori')" src="../../assets/ori/oribgstream.png"
				     style="max-height:50px;">
				<br>
				<b>Ori Rando</b> <br>
				<h6>Grimelios<br>MeldonTaragon</h6>
			</div>
			<div>
				<img [ngClass]="{ 'active-background': vm.background == 'rayman' }" (click)="setBackground('rayman')" src="../../assets/rayman/raymanbgstream.png"
				     style="max-height:50px;">
				<br>
				<b>Rayman Legends</b> <br>
				<h6>usedpizza<br>knox</h6>
			</div>
			<div>
				<img [ngClass]="{ 'active-background': vm.background == 'crash1nst' }" (click)="setBackground('crash1nst')" src="../../assets/crash1nst/crash1nstbgstream.png"
				     style="max-height:50px;">
				<br>
				<b>Crash NST</b> <br>
				<h6>DepCow<br>CaneOfPacci</h6>
			</div>
			<div>
				<img [ngClass]="{ 'active-background': vm.background == 'sms' }" (click)="setBackground('sms')" src="../../assets/sms/smsbgstream.png"
				     style="max-height:50px;">
				<br>
				<b>Super Mario Sunshine</b> <br>
				<h6>TonesBalones<br>SniperKing19</h6>
			</div>
			<div>
				<img [ngClass]="{ 'active-background': vm.background == 'ootrando' }" (click)="setBackground('ootrando')" src="../../assets/ootrando/ootrandobgstream.png"
				     style="max-height:50px;">
				<br>
				<b>OoT Rando</b> <br>
				<h6>WoodenBarrel<br>Sonicshadowsilver2</h6>
			</div>
			<div>
				<img [ngClass]="{ 'active-background': vm.background == 'uya' }" (click)="setBackground('uya')" src="../../assets/uya/uyabgstream.png"
				     style="max-height:50px;">
				<br>
				<b>UYA</b> <br>
				<h6>Ninjaratchet<br>CapnWiffle</h6>
			</div>
			<div>
				<img [ngClass]="{ 'active-background': vm.background == 'bk' }" (click)="setBackground('bk')" src="../../assets/bk/bkbgstream.png"
				     style="max-height:50px;">
				<br>
				<b>Banjo-Kazooie</b> <br>
				<h6>Dickhiskhan<br>Hagginater</h6>
			</div>
			<div>
				<img [ngClass]="{ 'active-background': vm.background == 'sa2b' }" (click)="setBackground('sa2b')" src="../../assets/sa2b/sa2bbgstream.png"
				     style="max-height:50px;">
				<br>
				<b>Sonic Adventure 2</b> <br>
				<h6>Talon2461<br>a_moustache</h6>
			</div>
			<div>
				<img [ngClass]="{ 'active-background': vm.background == 'mmx' }" (click)="setBackground('mmx')" src="../../assets/mmx/mmxbgstream.png"
				     style="max-height:50px;">
				<br>
				<b>Mega Man X</b> <br>
				<h6>Walrus_Prime<br>Tokyo90</h6>
			</div>
			<div>
				<img [ngClass]="{ 'active-background': vm.background == 'sm64' }" (click)="setBackground('sm64')" src="../../assets/sm64/sm64bgstream.png"
				     style="max-height:50px;">
				<br>
				<b>Super Mario 64</b> <br>
				<h6>BlueBob<br>HeisenburgerTV</h6>
			</div>
			<div>
				<img [ngClass]="{ 'active-background': vm.background == 'srt' }" (click)="setBackground('srt')" src="../../assets/srt/srtbgstream.png"
				     style="max-height:50px;">
				<br>
				<b>Spyro Reignited Trilogy</b> <br>
				<h6>ChrisLBC<br>BubblesDelFuego</h6>
			</div>
			<div>
				<img [ngClass]="{ 'active-background': vm.background == 'plge' }" (click)="setBackground('plge')" src="../../assets/plge/plgebgstream.png"
				     style="max-height:50px;">
				<br>
				<b>Pokémon: Let's Go, Eevee!</b> <br>
				<h6>Ouro<br>Keizaron</h6>
			</div>
			<div>
				<img [ngClass]="{ 'active-background': vm.background == 'kh3' }" (click)="setBackground('kh3')" src="../../assets/kh3/kh3bgstream.png"
				     style="max-height:50px;">
				<br>
				<b>KH3</b><br>
				<h6>Ninten866<br>SwiftShadow</h6>
			</div>
			-->
			<div>
				<img [ngClass]="{ 'active-background': vm.background == 'kh3' }" (click)="setBackground('kh3')" src="../../assets/kh3/kh3bgstream.png"
				     style="max-height:50px;">
				<br>
				<b>KH3</b><br>
				<h6>Ninten866<br>SwiftShadow</h6>
			</div>
			<div>
				<img [ngClass]="{ 'active-background': vm.background == 'smm2' }" (click)="setBackground('smm2')" src="../../assets/smm2/smm2bgstream.png"
				     style="max-height:50px;">
				<br>
				<b>SMM2</b><br>
				<h6>Jaku<br>Cliffy</h6>
			</div>
		</div>

		<hr class="spacer r4 c1" />

		<div class="col-8 center label-big timer r5 c1">MAIN TIMER</div>
		<input type="button" class="btn timer-start col-3 r6 c0" value="START" (click)="start()" [disabled]="!canStartTimer"
		/>
		<input type="button" class="btn timer-reset col-3 r6 c6" value="RESET" (click)="reset()" />

		<hr class="spacer r7 c1" />

		<div class="col-4 center label-big players r8 c1">PLAYER 1</div>
		<label class="label r9 c1" for="p1Name">Name</label>
		<input id="p1Name" class="name r9 c2" [(ngModel)]="p1_name" />
		<label class="label r10 c1" for="p1Twitch">Twitch</label>
		
		<select class="twitch r10 c2" [(ngModel)]="p1_twitch" (ngModelChange)="setP1Name($event)">
			<option *ngFor="let option of players" [value]="option.name" >{{ option.name }} ({{ option.preferredName }})</option>
		</select>

		<label class="label r11 c1" for="p1Seed">Seed</label>
		<input id="p1Seed" class="seed r11 c2" [(ngModel)]="p1_seed" placeholder="BRACKET STAGE ONLY" />
		<label class="label r11 c1" for="p1matchNumber">Match Number</label>
		<input id="p1matchNumber" class="matchNumber r11 c2" [(ngModel)]="p1_matchNumber" placeholder="Matches/Points/Etc" />
		<input type="textbox" class="timer r9 c3 col-2" [(ngModel)]="ticks1" [disabled]="!timer1Paused" />
		<input type="button" class="btn btn-warning r10 c3 col-1" value="FINISH" (click)="player1Finished()"
		/>
		<input type="button" class="btn col-1 r10 c4" value="PAUSE/SET TIMER" (click)="player1Paused()" />


		<div class="col-4 center label-big players r8 c5">PLAYER 2</div>
		<label class="label r9 c5" for="p2Name">Name</label>
		<input id="p2Name" class="name r9 c6" [(ngModel)]="p2_name" />
		<label class="label r10 c5" for="p2Twitch">Twitch</label>

		<select class="twitch r10 c6" [(ngModel)]="p2_twitch" (ngModelChange)="setP2Name($event)">
			<option *ngFor="let option of players" [value]="option.name" >{{ option.name }} ({{ option.preferredName }})</option>
		</select>

		<label class="label r11 c5" for="p2Seed">Seed</label>
		<input id="p2Seed" class="seed r11 c6" [(ngModel)]="p2_seed" placeholder="BRACKET STAGE ONLY" />
		<label class="label r11 c5" for="p2matchNumber">Match Number</label>
		<input id="p2matchNumber" class="matchNumber r11 c6" [(ngModel)]="p2_matchNumber" placeholder="Matches/Points/Etc" />
		<input type="textbox" class="timer r9 c7 col-2" [(ngModel)]="ticks2" [disabled]="!timer2Paused" />
		<input type="button" class="btn btn-warning r10 c7 col-1" value="FINISH" (click)="player2Finished()"
		/>
		<input type="button" class="btn col-1 r10 c8" value="PAUSE / SET TIMER" (click)="player2Paused()" />
	</div>
</div>
